@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* global styles */
h1 {
    font-size: 2.5rem;
    color: rgb(33, 32, 32);
    font-weight: 700;
}

span {
    font-size: .9rem;
    color: rgb(31, 32, 32);
}

h6 {
    font-size: 1rem;
    color: rgb(33, 32, 32);
    
}


/* navigation bar */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    width: 100%;
    background-color: rgba(125, 169, 212, 0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
}

nav img {
    width: 100px;
    cursor: pointer;
} 

nav .navigetion ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigetion ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigetion ul li a {
    text-decoration: none;
    color: rgb(245, 244, 244);
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s ease;
}

nav .navigetion ul li a:hover{
    color: rgb(40, 30, 129);

}

 
/* home section */

#home {
    
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photos/students.jpeg");
     height: 100vh;
     width: 100%;
     background-position: center;
     background-size: cover;  
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-direction: column;
     padding-top: 40px;
}

#home h2 {
    color: rgb(238, 239, 241);
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
  
#home p {
    color: rgb(240, 242, 245);
    font-size: 0.95rem;
    width: 60%;
    line-height: 25px;
    margin: 20px 0 40px 0;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.95rem;
    padding: 13px 25px;
    border-radius: 30px;
    font-weight: 600;   
    background-color: aqua;
}

#home a.btn {
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}

#home a.blue {
    background-color: #3498db;
    color: white; 
    transition: 0.5s ease;
}

#home a.blue:hover {
    background-color: #d8e1e7;
    color: #3498db;
    
}

#home a.green {
    background-color: #2ecc71;
    color: white;
    transition: 0.5s ease;
}

#home a.green:hover {
    background-color: #d8e1e7;
    color: rgb(34, 179, 34);
    
}

/* features */

#features {
    padding: 5vw 8vw 0vw 8vw;
    text-align: center;
}

#features .fea-base {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 1rem;
   margin-top: 50px;
}
 
#features .fea-box {
    background-color: gainsboro;
    text-align: start;
    
}

 #features .fea-box i {
    font-size: 3rem;
    color: rgb(33, 32, 32);
  
}

#features .fea-box h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(33, 32, 32);

}

/* courses */

#course {
padding: 5vw 8vw 0vw 8vw;
    text-align: center;
}

#course h1 {
    margin-bottom: 40px;
}
#course .courses{
    display: inline-block;
    width: 300px;
    margin: 15px;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: start;
    position: relative;
}

#course .courses img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 20px 20px 20px;
}

#course .courses .details i {
    color: gold;
    
}

#course .courses .cost {
   background-color: #3498db;
   color: yellow;
   line-height: 70px;
   width: 70px;
   height: 70px;
   text-align: center;
   border-radius: 50%;
   position: absolute;
   right: 15px;
   bottom: 1px;
}

/* registration section */

#registration {
    padding: 5vw 8vw 5vw 8vw;
    text-align: center;
    background-color: rgb(160, 172, 180);
    justify-content: space-between;
    

}


#registration h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    
}

#registration p {
    color: rgb(218, 217, 217);
    margin-bottom: 20px;
}

#registration .reg-box {
    display: inline-block;
    background-image: linear-gradient(rgba(49, 48, 51, 0.5),rgba(62, 62, 65, 0.5)), url("photos/WhatsApp\ Image\ 2025-11-14\ at\ 9.54.43\ AM\ \(2\).jpeg");
    padding: 20px 20px 20px 20px;
    color: white;
    border-radius: 110px 110px;
   
}

#registration .reg-btn {
    background-color: rgb(69, 107, 138);
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;


}

#registration img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 110px 110px;
    
}

#registration .form{
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #3498db;
    color: white; 
    transition: 0.5s ease;
    
}

.submit {
    background-color: #2ecc71;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
    
}

.submit:hover {
    background-color: #549e64;
    color: rgb(179, 228, 179);
    
}

#registration .form:hover {
    background-color: #d8e1e7;
    color: #7ea6da;
    
}

#registration .input-field {
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9fb1bd;
    font-size: 1rem;
  

}



/* footer section */

